<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4 footer-icon-social-media" style="display: flex;gap:10px">
                <div class="QR_img">
                    <img src="./../../../assets/photos/App-QR.png"  width="120">
                </div>
                <div class="QR_content">
                    <p align="left" style="font-weight: 400;">WAN mãi MẶN.</p>
                    <p align="left" style="font-weight: 400;">TẢI NGAY!</p>
                    <img src="./../../../assets/photos/orange-arrow.png"  width="70">
                </div>
            </div>
            <div class="col-md-6 col-lg-4 footer-icon-social-media social-icon">
                <p style="font-weight: 400;">Nơi nào có WAN, </p>
                <p style="font-weight: 400;">nơi đó "Dzui Tới Sướnggg"</p>
                <div class="media-icons">
                    <a href="https://www.facebook.com/weallneter" class="border-0 mb-0 mr-2" target="_blank">
                        <img src="./../../../assets/photos/icon-facebook.png" alt="Icon Facebook">
                    </a>
                    <a href="https://www.linkedin.com/company/weallnet/" class="border-0 mb-0 mr-2" target="_blank">
                        <img src="./../../../assets/photos/icon-linkedin.png" alt="Icon Linkedin">
                    </a>
                    <a href="https://www.instagram.com/weallnetwork/" class="border-0 mb-0 mr-2" target="_blank">
                        <img src="./../../../assets/photos/icon-instagram.png" alt="Icon Instagram">
                    </a>
                    <a href="https://www.tiktok.com/@weallnet" class="border-0 mb-0 mr-2" target="_blank">
                        <img src="./../../../assets/photos/icon-tiktok.png" alt="Icon Tiktok">
                    </a>
                    <a href="https://www.youtube.com/@weallnetwork" class="border-0 mb-0 mr-2" target="_blank">
                        <img src="./../../../assets/photos/icon-youtube.png" alt="Icon Youtube">
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-ul-link">
                    <li class="nav-item">
                        <a href="" class="nav-link">Tuyển dụng</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Hỏi nhanh đáp lẹ</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Chính sách bảo mật</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Điều khoản và điều kiện</a>
                    </li>
                </div>
            </div>
        </div>
        <div class="dividar"></div>
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <ul class="footer-license">
                    <li class="nav-item">
                        <a class="nav-link">
                            Giấy Phép Mạng Xã Hội Giải Trí: 325/GP-BTTTT do Bộ Thông Tin và Truyền thông cấp ngày 27/07/2020
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">    
                            Giấy Phép Kinh Doanh: 0314182417 do Sở Kế Hoạch Và Đầu Tư Thành Phố Hồ Chí Minh cấp ngày 05/01/2017
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="copyright">
                    <img src="./../../../assets/photos/logo-weallnetnew.png"  width="120">
                    <span style="display: block;">Copyright © Forever Vesnet JSC</span>
                </div>
            </div>
        </div>
    </div>
</footer>