<main>
    <section class="banner-app-wan">
      <video class="intro-video" autoplay loop>
        <source src="./../assets/videos/manifest-stream1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </section>
    <section class="visions-content">
      <div class="container" style="max-width: 1250px;">
        <div class="row">
          <div class="col-md-7">
            <div class="visions-block" data-aos="fade-up" data-aos-delay="0">
              <img src="./../assets/photos/icon-section-1.png" alt="Section line image">
              <div class="margin-my-3 c-purple3">
                <h3>Vũ trụ WEALLNET (WAN)</h3>
              </div>
              <div class="firstleft-content">
                <div class="firstleft-row">
                  <div>
                    <img class="bullet" src="./../assets/photos/Bullet.png" alt="Bullet icon">
                  </div>
                  <div class="content">
                    <span class="c-orange2 span-content ">Sáng tạo đỉnh cao</span>
                    <p class="c-purple3">Truyền cảm hứng và kiến thức bất tận với video và tin tức bổ ích, đa dạng chủ đề.</p>
                  </div>
                  <div>
                    <img class="bullet" src="./../assets/photos/Bullet.png" alt="Bullet icon">
                  </div>
                  <div class="content">
                    <span class="c-orange2 span-content ">Đu trend không mệt</span>
                    <p class="c-purple3">Chính hiệu bạn Gen Z. Tin nhanh, tin chính thống, tin gì WAN cũng hóng.</p>
                  </div>
                </div>
                <div class="firstleft-row">
                  <div>
                    <img class="bullet" src="./../assets/photos/Bullet.png" alt="Bullet icon">
                  </div>
                  <div class="content">
                    <span class="c-orange2 span-content ">Cực giỏi giữ bí mật</span>
                    <p class="c-purple3">Mọi tin nhắn của bạn đều được WAN bảo mật nhiều lớp an toàn.</p>
                  </div>
                  <div>
                    <img class="bullet" src="./../assets/photos/Bullet.png" alt="Bullet icon">
                  </div>
                  <div class="content">
                    <span class="c-orange2 span-content ">Kết bạn tứ phương</span>
                    <p class="c-purple3">Còn ai ngoài WAN có thể kết thân với loạt KOLs/ Influencers đình đám trên mọi lĩnh vực.</p>
                  </div>
                </div>
                <div class="btn" data-aos="fade-up" data-aos-delay="0">
                  <button onclick="location.href=''" target="-blank" class="btn-explore">
                    <span>KHÁM PHÁ NGAY!</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 item">
            <div class="floatingguy-container" data-aos="fade-up" data-aos-delay="0">
              <img class="floatingguy-icon responsive-img" src="./../assets/photos/icon-visions-4.png" alt="Icon vision">
              <img class="floatingguy responsive-img" src="./../assets/photos/floating-guy.png" alt="Floating guy">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="media-section">
      <div class="container">
        <div class="row button-ribbon-container " data-aos="fade-up">
          <a href="" class="button-ribbon button-latest-video">
            <div class="button-ribbon-title">Video mới nhất</div>
            <div class="button-ribbon-img-container">
              <img src="./../../../assets/photos/latestvideo-2.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/latestvideo-3.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/latestvideo-4.jpg"  class="button-ribbon-img">
            </div>
          </a>
          <a href="" class="button-ribbon button-wannightstand">
            <div class="button-ribbon-title">WAN Night Stand</div>
            <div class="button-ribbon-img-container">
              <img src="./../../../assets/photos/wnt-2.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/wnt-3.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/wnt-4.jpg"  class="button-ribbon-img">
            </div>
          </a>
          <a href="" class="button-ribbon button-thuongminh">
            <div class="button-ribbon-title">Thương mình</div>
            <div class="button-ribbon-img-container">
              <img src="./../../../assets/photos/tm-2.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/tm-3.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/tm-4.jpg"  class="button-ribbon-img">
            </div>
          </a>
          <a href="" class="button-ribbon button-genz">
            <div class="button-ribbon-title">Gen Z</div>
            <div class="button-ribbon-img-container">
              <img src="./../../../assets/photos/genz-2.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/genz-3.jpg"  class="button-ribbon-img">
              <img src="./../../../assets/photos/genz-4.jpg"  class="button-ribbon-img">
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="services-section margin-b-3 padding-t-9">
      <div class="container" style="padding-bottom: 100px;">
        <div class="body-features">
          <div class="row justify-content-center">
            <div class="col-md-12 " data-aos="zoom-in-up" data-aos-delay="0">
              <div class="second-content">
                <img src="./../../../assets/photos/big-double-quotes.png" alt="Double quotes image" class="align-end">
                <h3>WAN còn làm được
                  <span class="orange-circling"> nhiều hơn thế!</span>
                </h3>
              </div>
              <div style="display: flex; justify-content: center;">
                <button onclick="location.href=''" target="-blank" class="btn-explore">
                  <span>KHÁM PHÁ NGAY!</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="function-wan-app" id="tinh-nang"></section>
    <section class="campaign-wan-app">
      <div class="body-features" style="height: 60rem;">
        <div class="container">
          <div class="row justify-content-center text-center campaign-responsive">
            <div class="col-md-6 left-column" data-aos="fade-up" data-aos-delay="0" style="position: relative;">            
              <img src="./../../../assets/photos/campaign-img.png"  class="image-campaign">
              <img src="./../../../assets/photos/icon-1.png"  class="icon-drawing">
            </div>
            <div class="col-md-6 item">
              <div class="" data-aos="fade-up" data-aos-delay="200">
                <div class="content-campaign">
                  <img src="./../../../assets/photos/icon-section-1.png"  width="40">
                  <h3 class="title-campaign margin-t-2">
                    Một ứng dụng,
                    <br>
                    <span class="c-orange2">đa tiện ích.</span>
                  </h3>
                  <p class="margin-t-4">
                    <img src="./../../../assets/photos/icon-check.png"  class="check">
                    &nbsp;
                    <span class="description-campaign">Có tất cả những gì bạn cần.</span>
                  </p>
                  <p>
                    <img src="./../../../assets/photos/icon-check.png"  class="check">
                    &nbsp;
                    <span class="description-campaign">Giải trí mọi lúc, mọi nơi.</span>
                  </p>
                </div>
                <div class="margin-t-4" style="text-align:left;position:relative;">
                  <button target="-blank" class="btn-explore">
                    <span>KHÁM PHÁ NGAY!</span>
                  </button>
                  <img src="./../../../assets/photos/icon-2.png"  class="icon-start">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="reviews-app-random" id="nhan-xet">
      <div class="container">
        <div class="row justify-content text-center">
          <div class="col-lg-6 col-md-12 col-sm-12 item review-col-left">
            <div data-aos="fade-up" data-aos-delay="200">
              <div class="content-review">
                <img src="./../../../assets/photos/icon-section-1.png"  width="40">
                <h3 class="title-review margin-t-2" style="position: relative;">
                  Ai DZUI 
                  <span class="orange-circling">dơ tay!!!</span>
                </h3>
                <p style="width: 95%;">
                  Content "toẹt vời" ở ngay đây! Chỉ cần một thiết bị thông minh hoặc ghé chơi website của WAN là đủ. Xem và tận hưởng kho phim và video thú dzị bất tận. Bất cứ khi nào, bất cứ nơi đâu.
                </p>
              </div>
              <div class="margin-t-7" style="text-align: left;">
                <button onclick="location.href=''" target="-blank" class="btn-explore">
                  <span>KHÁM PHÁ NGAY!</span>
                </button>
              </div>
              <div class="review-icon">
                <img src="./../../../assets/photos/icon-visions-5.png"  style="transform: rotate(90deg);">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 review-col-right" data-aos="fade-up" data-aos-delay="0">
            <div class="p-slider">
              <div class="p-slider-item">
                <div class="slider-body">
                  <p class="content-review-slider c-orange2">
                    “App xịn dữ, giao diện dễ dùng, dễ nhìn lắm. Mình thích nhất là mục giải trí, nhiều bộ phim có ‘nội dung’ rất cuốn và mlem mlem.”
                  </p>
                  <img src="./../../../assets/photos/purple-line.png" alt="Purple line">
                  <div class="info-reviewer">
                    <img src="./../../../assets/photos/reviewer-ava-02.png" alt="User's avatar">
                    <p class="content-review-name c-purple2">
                      Kiệt
                      <br>
                      <span class="c-purple2">Sinh viên, 19</span>
                    </p>
                    <img class="stars" src="./../../../assets/photos/stars.png">
                  </div>
                </div>
              </div>
              <div class="p-slider-item">
                <div class="slider-body">
                  <p class="content-review-slider c-orange2">
                    “Tính năng của WEALLNET đỉnh thật sự! Xem phim cùng bạn, hóng drama, hóng tin tức,... chưa kể còn nhắn tin được nữa. Ai mà lười tải nhiều app giống mình thì WEALLNET đúng là chân ái!”                  
                  </p>
                  <img src="./../../../assets/photos/purple-line.png" alt="Purple line">
                  <div class="info-reviewer">
                    <img src="./../../../assets/photos/reviewer-ava-03.png" alt="User's avatar">
                    <p class="content-review-name c-purple2">
                      Phương
                      <br>
                      <span class="c-purple2">Marketer, 22</span>
                    </p>
                    <img class="stars" src="./../../../assets/photos/stars.png">
                  </div>
                </div>
              </div>
              <div class="p-slider-item">
                <div class="slider-body">
                  <p class="content-review-slider c-orange2">
                    “Bạn giới thiệu mình mới biết tới app WEALLNET. Phải nói là cực kì hài lòng! Mọi tin tức được cập nhật nhanh chóng, chuẩn xác, bao gồm cả tin thị trường chứng khoán.”                  
                  </p>
                  <img src="./../../../assets/photos/purple-line.png" alt="Purple line">
                  <div class="info-reviewer">
                    <img src="./../../../assets/photos/reviewer-ava-01.png" alt="User's avatar">
                    <p class="content-review-name c-purple2">
                      Thảo
                      <br>
                      <span class="c-purple2">Kế toán, 26</span>
                    </p>
                    <img class="stars" src="./../../../assets/photos/stars.png">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="controls">
              <div class="left" style="z-index: 1;">
                <img src="./../../../assets/photos/purple-arrow.png" >
              </div>
              <div class="right" style="z-index: 1;">
                <img src="./../../../assets/photos/purple-arrow.png" >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="contact-section" data-aos="fade-up">
      <div class="container">
        <div class="body-features">
          <div class="row justify-content-start flex-wrap-reverse contactformcontainer mgt-1r">
            <img src="./../../../assets/photos/icon-cloud-contact.png" alt="Icon cloud" class="cloud">
            <div class="col-lg-7 col-md-7 col-sm-12 rightcontact c-purple3">
              <form id="email-form">
                <div class="row">
                  <div class="col-lg-4 col-md-12 ct-sub-title">
                    <span>Họ & Tên:</span>
                    <input type="text" name="Name" class="newinputstyle" required>
                  </div>
                  <div class="col-lg-4 col-md-12 ct-sub-title">
                    <span>Email</span>
                    <input type="email" name="Email" class="newinputstyle" required>
                  </div>
                  <div class="col-lg-4 col-md-12 ct-sub-title">
                    <span>Số điện thoại:</span>
                    <input type="number" name="Mobile" class="newinputstyle" required>
                  </div>
                  <div class="col-md-12 ct-sub-title ct-sub-title-msg">
                    <span>Tin nhắn</span>
                    <textarea name="Message" class="newinputstyle" rows="3" required></textarea>
                  </div>
                  <div class="col-12 rightcontact-btn">
                    <button class="btn-explore btn-send-email">
                      <span>GỬI NGAY!</span>
                    </button>
                  </div>
                </div>
              </form>
              <img src="./../../../assets/photos/s7-07-1.png" class="arrow">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-11 leftcontact">
              <img src="./../../../assets/photos/icon-section-1.png" width="50" style="margin-top: -40px;">
              <p class="rightcontact-title">
                Hợp tác dzui dzẻ, liên hệ
                <span class="c-orange2">WAN</span>
              </p>
              <p class="c-purple3">
                Việc của bạn là điền thông tin.
                <br>
                Còn việc của WAN là liên hệ bạn sớm nhất có thể!
              </p>
              <div class="wancontact c-purple3">
                <img src="./../../../assets/photos/icon-phone.png" alt="Icon phone">
                <p>+84 918 100 457</p>
                <img src="./../../../assets/photos/icon-email.png" alt="Icon email">
                <p>contact@weallnet.com</p>
                <img src="./../../../assets/photos/icon-location.png" alt="Icon location">
                <p>76 Mạc Đĩnh Chi, P. Đa Kao, Q. 1, TP. HCM, Việt Nam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>