<div class="ve-weallnet">
  <section class="wanster-section">
    <div class="container">
      <div class="body-features">
        <div class="row align-items-stretch">
          <div
            class="col-lg-12 col-md-12 col-sm-12 wanster-col-1"
            data-aos="fade-right"
          >
            <h3>Chúng mình là</h3>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 row flex-wrap-reverse">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 wanster-col-2">
              <img
                class="cloud1"
                src="./../../../assets/photos/icon-visions-2.png"
                alt
              />
              <img
                class="asterisk"
                src="./../../../assets/photos/icon-visions-4.png"
                alt
              />
              <div class="wanster-icon">
                <div class="sticky-media-icon">
                  <a href="https://www.facebook.com/weallneter" target="_blank">
                    <img src="./../../../assets/photos/icon-facebook.png" alt />
                  </a>
                  <a
                    href="https://www.linkedin.com/company/weallnet/"
                    target="_blank"
                  >
                    <img src="./../../../assets/photos/icon-linkedin.png" alt />
                  </a>
                  <a
                    href="https://www.instagram.com/weallnetwork/"
                    target="_blank"
                  >
                    <img
                      src="./../../../assets/photos/icon-instagram.png"
                      alt
                    />
                  </a>
                  <a href="https://www.tiktok.com/@weallnet" target="_blank">
                    <img src="./../../../assets/photos/icon-tiktok.png" alt />
                  </a>
                  <a
                    href="https://www.youtube.com/@weallnetwork"
                    target="_blank"
                  >
                    <img src="./../../../assets/photos/icon-youtube.png" alt />
                  </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-11 col-md-11 col-sm-11 wanster-col-3"
              data-aos="zoom-in"
              data-aos-duration="1000"
            >
              <div>
                <img
                  class="wanster-ramdonicon"
                  src="./../../../assets/photos/icon-wansters-1.png"
                />
                <div class="slider-container">
                  <div class="slider">
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster01.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster02.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster03.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster04.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster05.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster06.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster07.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster08.png"
                    />
                    <img
                      class="relative wanster-squad"
                      src="./../../../assets/photos/wanster09.png"
                    />
                  </div>
                </div>
              </div>
              <h3 class="purple-h3" data-aos="fade-up" data-aos-delay="0">
                WANsters!
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="story-section">
    <div class="container-fluid">
      <div class="body-features">
        <div
          class="row justify-content-start mgt-5r"
          data-aos="fade-right"
          data-aos-offset="400"
        >
          <div class="col-lg-2 col-md-0 col-sm-0 story-col"></div>
          <div class="col-lg-3 col-md-6 col-sm-6 story-col-1">
            <img
              class="orange-playbutton"
              src="./../../../assets/photos/orange_playbutton.png"
              alt
            />
            <div class="c-purple3 margin-my-3">
              <h3>Về WEALLNET</h3>
            </div>
            <div class="story-content">
              <p>
                WEALLNET (WAN) ra mắt năm 2017, sau những nghiên cứu chuyên sâu
                về bối cảnh digital tại Việt Nam. Đây là nền tảng ứng dụng sáng
                tạo đa-zi-năng, nhằm đơn giản hoá cách thế hệ trẻ Việt sống, làm
                việc và vui chơi.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 story-col-2 relative">
            <img
              class="orange-playbutton"
              src="./../../../assets/photos/orange_playbutton.png"
              alt
            />
            <div class="c-purple3 margin-my-3">
              <h3>Sứ mệnh</h3>
            </div>
            <div class="story-content">
              <p>
                Càng sáng tạo, càng phát triển tột bậc. WEALLNET ra đời với sứ
                mệnh thúc đẩy thế hệ trẻ tại Đông Nam Á được tự do sáng tạo và
                phát triển tối đa mọi tiềm năng của bản thân.
              </p>
            </div>
            <img
              class="story-icon"
              src="./../../../assets/photos/icon-story-1.png"
            />
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 story-col-3">
            <img
              class="orange-playbutton"
              src="./../../../assets/photos/orange_playbutton.png"
              alt
            />
            <div class="c-purple3 margin-my-3">
              <h3>Tầm nhìn</h3>
            </div>
            <div class="story-content">
              <p>
                Với WAN, ai cũng là nhà sáng tạo tiềm năng. Do đó, WAN tạo ra
                một không gian đầy cảm hứng để người dùng thoả sức tương tác chỉ
                với một nền tảng đa nhiệm sáng tạo "all-in-one" duy nhất.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="specialists-section margin-b-7">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-12 item specialist-col-left">
          <div class="visions-block" data-aos="fade-up" data-aos-delay="0">
            <img src="./../../../assets/photos/icon-section-1.png" />
            <div class="txt margin-my-3">
              <h4>Chúng tôi là ai?.</h4>
            </div>
            <div class="txt margin-t-3 margin-b-5 relative">
              <h3>
                Trong một thế giới chỉ toàn "giáo sư biết tuốt" chúng tôi là
                <span class="purple-circling">"chuyên gia"</span>
              </h3>
              <img
                class="big-orange-doublequotes"
                src="./../../../assets/photos/big-doublequotes-orange.png"
              />
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-0 col-0 item specialists-col-right">
          <div>
            <img
              src="./../../../assets/photos/icon-visions-4.png"
              alt="image"
            />
            <img
              src="./../../../assets/photos/icon-specialists-1.png"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features-app-wan padding-t-12 margin-b-3">
    <div class="container">
      <div class="body-features">
        <div class="row justify-content-center">
          <div
            class="col-md-6 col-lg-6 features-col-1"
            data-aos="zoom-in-up"
            data-aos-offset="400"
          >
            <div class="moc-app">
              <div class="tab-content mgt-3r">
                <div class="tab-pane fade show active frame-avatar">
                  <img
                    class="slide-in-bottom ava-01"
                    src="./../../../assets/photos/anh-Kevin-avatar.png"
                    alt="frame"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-6 features-col-2"
            data-aos="zoom-in-down"
            data-aos-offset="400"
          >
            <div
              class="nav flex-column nav-pills"
              role="tablist"
              aria-orientation="vertical"
            >
              <div
                style="margin-bottom: 5rem"
                data-aos="fade-up"
                data-aos-delay="0"
              >
                <img
                  src="./../../../assets/photos/icon-section-1.png"
                  width="40"
                />
                <div class="title-team" style="margin-top: 1rem">
                  <h3>Đội ngũ <span class="orange-circling">lãnh đạo</span></h3>
                </div>
                <div class="info-team">
                  <h3 class="title-name-team">Mr. Kevin Pham</h3>
                  <p class="role-team">CEO / Giám Đốc Điều Hành</p>
                  <p class="info-person">
                    Hơn 2 thập kỷ sinh sống và làm việc tại New York City đã rèn
                    giũa sắc bén khả năng lập chiến lược tập trung của anh
                    Kevin. Anh được biết đến là một doanh nhân tài năng với kinh
                    nghiệm thành lập và vận hành hàng loạt mô hình kinh doanh
                    khác nhau trên khắp các lĩnh vực trong hơn 15 năm qua. Với
                    nhiệt huyết và nguồn năng lượng dồi dào, anh Kevin rất giỏi
                    trong việc tìm ra nguyên nhân gốc rễ và giải quyết vấn đề
                    tận gốc. Đồng thời, anh rất nhạy bén trong việc nắm bắt các
                    cơ hội.
                  </p>
                </div>
                <a
                  class="linkedin-01"
                  href="https://www.linkedin.com/in/kevinphamphd/"
                  target="_blank"
                >
                  <img
                    style="margin-top: 3rem"
                    src="./../../../assets/photos/linkedin.png"
                  />
                </a>
              </div>
              <a class="active" style="margin-right: 20px" data-toggle="pill">
                <img
                  class="default-avatar"
                  src="./../../../assets/photos/kevin_small.png"
                />
              </a>
              <a id="v-pills-screenOne-tab">
                <img
                  class="default-avatar"
                  src="./../../../assets/photos/liem_small.png"
                />
              </a>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-6 features-col-3"
            data-aos="zoom-in-down"
            data-aos-offset="400"
          >
            <div
              class="flex-column nav-pills"
              role="tablist"
              aria-orientation="vertical"
            >
              <div
                style="margin-bottom: 5rem"
                data-aos="fade-up"
                data-aos-delay="0"
              >
                <img
                  src="./../../../assets/photos/icon-section-1.png"
                  width="40"
                />
                <div class="title-team" style="margin-top: 1rem">
                  <h3>Đội ngũ <span class="orange-circling">cố vấn</span></h3>
                </div>
                <div class="info-team">
                  <h3 class="title-name-team">Mr. Nguyen Xuan Minh</h3>
                  <p class="role-team">Chủ tịch Techcombank Securities</p>
                  <p class="info-person">
                    Với tư cách là Chủ tịch Techcombank Securities, người sáng
                    lập ra VAM và là thành viên Hội đồng Quản trị của Vietnam
                    Airlines, anh Minh mang đến cho chúng tôi những kinh nghiệm
                    quý giá trong ngành tài chính. Anh có thế mạnh về lối tư duy
                    đổi mới, cũng như khả năng tạo ra động lực và năng lực để
                    hiện thực hoá mục tiêu đề ra.
                  </p>
                </div>
                <a
                  class="linkedin-02"
                  href="https://www.linkedin.com/in/nguyenxuanminh/"
                  target="_blank"
                >
                  <img
                    style="margin-top: 3rem"
                    src="./../../../assets/photos/linkedin.png"
                  />
                </a>
              </div>
              <a class="active" style="margin-right: 20px" data-toggle="pill">
                <img
                  class="default-avatar"
                  src="./../../../assets/photos/minh_small.png"
                />
              </a>
              <a id="v-pills-screenOne-tab">
                <img
                  class="default-avatar"
                  src="./../../../assets/photos/jamal_small.png"
                />
              </a>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-6 features-col-4"
            data-aos="zoom-in-up"
            data-aos-offset="400"
          >
            <div class="moc-app">
              <div class="tab-content mgt-3r">
                <div class="tab-pane fade show active frame-avatar-purple">
                  <img
                    class="slide-in-bottom ava-02"
                    src="./../../../assets/photos/anh-Minh-avatar.png"
                    alt="frame"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="visions-section margin-b-7">
    <div class="container">
      <div class="row">
        <div class="col-md-12 item">
          <div class="visions-block" data-aos="fade-up" data-aos-offset="200">
            <img src="./../../../assets/photos/icon-section-1.png" />
            <div class="txt margin-my-3">
              <h4>WAN có gì.</h4>
            </div>
            <div class="txt margin-t-3 margin-b-5 visions-h3">
              <h3>
                Ủng hộ sự táo bạo để <br />
                gặt&nbsp;hái
                <span class="orange-circling">điều phi thường</span>
              </h3>
            </div>
            <div class="txt vision-maincontent">
              <div class="vision-maincontent-1">
                <p>
                  Gạt bỏ cái tôi và đứng về phía khách hàng. Chúng tôi luôn mong
                  muốn mang đến những dịch vụ tốt nhất, đáp ứng hoàn hảo mọi nhu
                  cầu của bạn.
                </p>
                <div
                  class="margin-t-4"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  style="margin-bottom: 2rem"
                >
                  <button target="_blank" class="btn-explore">
                    <span>KHÁM PHÁ NGAY!</span>
                  </button>
                </div>
              </div>
              <div
                class="vision-maincontent-scale"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <h4>4+</h4>
                <p class="vision-maincontent-fontweight">
                  Hơn 4 năm kinh nghiệm trong ngành digital
                </p>
              </div>
              <div
                class="vision-maincontent-scale"
                data-aos="fade-up"
                data-aos-delay="1000"
              >
                <h4>50+</h4>
                <p class="vision-maincontent-fontweight">
                  Nhân sự trẻ và đầy tài năng
                </p>
              </div>
              <div
                class="vision-maincontent-scale"
                data-aos="fade-up"
                data-aos-delay="1500"
                style="flex-basis: 16%; margin-right: 1rem"
              >
                <h4>4M+</h4>
                <p class="vision-maincontent-fontweight">
                  Lượt theo dõi trên mạng xã hội
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-section" data-aos="fade-up">
    <div class="container">
      <div class="body-features">
        <div
          class="row justify-content-start flex-wrap-reverse contactformcontainer mgt-1r"
        >
          <img
            src="./../../../assets/photos/icon-cloud-contact.png"
            alt="Icon cloud"
            class="cloud"
          />
          <div class="col-lg-7 col-md-7 col-sm-12 rightcontact c-purple3">
            <form id="email-form">
              <div class="row">
                <div class="col-lg-4 col-md-12 ct-sub-title">
                  <span>Họ & Tên:</span>
                  <input
                    type="text"
                    name="Name"
                    class="newinputstyle"
                    required
                  />
                </div>
                <div class="col-lg-4 col-md-12 ct-sub-title">
                  <span>Email</span>
                  <input
                    type="email"
                    name="Email"
                    class="newinputstyle"
                    required
                  />
                </div>
                <div class="col-lg-4 col-md-12 ct-sub-title">
                  <span>Số điện thoại:</span>
                  <input
                    type="number"
                    name="Mobile"
                    class="newinputstyle"
                    required
                  />
                </div>
                <div class="col-md-12 ct-sub-title ct-sub-title-msg">
                  <span>Tin nhắn</span>
                  <textarea
                    name="Message"
                    class="newinputstyle"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="col-12 rightcontact-btn">
                  <button class="btn-explore btn-send-email">
                    <span>GỬI NGAY!</span>
                  </button>
                </div>
              </div>
            </form>
            <img src="./../../../assets/photos/s7-07-1.png" class="arrow" />
          </div>
          <div class="col-lg-5 col-md-5 col-sm-11 leftcontact">
            <img
              src="./../../../assets/photos/icon-section-1.png"
              width="50"
              style="margin-top: -40px"
            />
            <p class="rightcontact-title">
              Hợp tác dzui dzẻ, liên hệ
              <span class="c-orange2">WAN</span>
            </p>
            <p class="c-purple3">
              Việc của bạn là điền thông tin.
              <br />
              Còn việc của WAN là liên hệ bạn sớm nhất có thể!
            </p>
            <div class="wancontact c-purple3">
              <img
                src="./../../../assets/photos/icon-phone.png"
                alt="Icon phone"
              />
              <p>+84 918 100 457</p>
              <img
                src="./../../../assets/photos/icon-email.png"
                alt="Icon email"
              />
              <p>contact@weallnet.com</p>
              <img
                src="./../../../assets/photos/icon-location.png"
                alt="Icon location"
              />
              <p>76 Mạc Đĩnh Chi, P. Đa Kao, Q. 1, TP. HCM, Việt Nam</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
